h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: orange;
}

h3 {
    color: green;
}

h4 {
    color: gray;
}

h5 {
    color: red;
}

h6 {
    color: blue;
}