body {
    background-image: url("../imagens/fundo_final.jpg");
    background-repeat: repeat;
}

h1,
h6 {
    background-color: #CCBB99;
}

p.texto {
    text-indent: 5%;
    font-weight: bold;
    text-align: justify;
    color: #CCBB99;
}

h1.titulo {
    text-align: right;
}

h6.rodape {
    font-style: italic;
}