#geral {
	border: dotted 1px #CCBB99;
	margin-left: 15%;
	margin-right: 15%;
}
body {background-image:url("../imagens/fundo_final.jpg");
	background-repeat: repeat;
}

h1, h6 {background-color:#CCBB99;}

p.texto {text-indent:5% ;
		 font-weight: bold;
		 text-align: justify;
         color:#CCBB99;
         margin-left: 10px;
         margin-right: 10px;
}

h1.titulo {text-align: right;}

h6.rodape {font-style:italic;}